<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dragkoz.transportehackhgo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".crear_cuenta"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".seleccion_denuncia"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".denuncia_formal"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".acepto_condiciones"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".formulario_enviado"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".denuncia_anonima"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Inicio"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".alerta"></activity>



        <service
            android:name=".SendCurrentLocation"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".CheckAlarma"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".CheckAlarma2"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>